:root {
    --base-background-color: white;
    --temp-background-color: #a3f3f3;
    --page-max-width: 1440px;
    --nav-color: #ffffff;
    --first-page-color: #ffffff;
}

@font-face {
    font-family: 'Banny Round';
    font-style: normal;
    font-weight: normal;
    src: local('Banny Round'), url('../font/Banny-Round.woff') format('woff');
}

@font-face {
    font-family: 'Banny Light Round';
    font-style: normal;
    font-weight: normal;
    src: local('Banny Light Round'), url('../font/Banny-LightRound.woff') format('woff');
}

@font-face {
    font-family: 'Banny Bold Round';
    font-style: normal;
    font-weight: normal;
    src: local('Banny Bold Round'), url('../font/Banny-BoldRound.woff') format('woff');
}

body {
    background-color: var(--base-background-color);
    margin: 0;
}

.page-wrap {
    max-width: var(--page-max-width);
    margin: 0 auto;
}


/* Общие текстовые стили */

.header-text {
    font-family: 'Banny Round';
    font-size: 96px;
    line-height: 0px;
    text-align: center;
    text-transform: uppercase;
}

.header-text-small {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
}

.base-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}


/* Стили первого экрана */

.page-first {
    background: url(../img/first-page-bg.png) no-repeat;
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    min-height: 800px;
    flex-direction: column;
    align-items: center;
    color: var(--first-page-color);
    margin: 0;
    padding: 0;
}

.main-menu::after {
    content: '';
    position: absolute;
    background-image: url(../img/helm.svg);
    left: 50%;
    top: 25px;
    width: 150px;
    height: 150px;
    transform: translateX(-50%);
}

.main-menu__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.main-menu__item {
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    text-decoration: none;
    color: var(--nav-color);
    text-transform: uppercase;
    width: 133px;
    height: 100px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    box-sizing: border-box;
}

.break-point {
    margin-left: 220px;
}

.head-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.left-text {
    position: relative;
    display: flex;
    flex: 59 59 0;
}

.left-text::after {
    content: 'Mon - Fri: 8PM - 10PM, Sat - Sun: 8PM - 3AM';
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    transform-origin: 81% 0;
    transform: translateX(-50%) rotate(-90deg);
}

.center-text {
    display: flex;
    flex: 170 170 0;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    height: 100%;
    align-items: stretch;
}

.first-line {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    padding-top: 226px;
    margin: 0;
}

.button-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.button-item {
    display: flex;
    width: 200px;
    height: 60px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--nav-color);
}

.button-01 {
    background: #E8C300;
    border-radius: 5px;
    box-sizing: border-box;
}

.button-02 {
    margin-left: 40px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    box-sizing: border-box;
}

.page-down {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 60px;
}

.button-page-down {
    background-color: #ffffff;
    width: 40px;
    height: 40px;
    border-radius: 40px;
}

.rigth-text {
    display: flex;
    flex: 59 59 0;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 240px;
}

.facebook {
    background: url(../img/fb.png) center center no-repeat;
}

.twitter {
    background: url(../img/tw.png) center center no-repeat;
}

.instagram {
    background: url(../img/instagram.png) center center no-repeat;
}

.icons {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 20px;
    margin-right: 79px;
    box-sizing: border-box;
}


/* стили второго экрана */

.page-second {
    display: flex;
    flex-direction: row;
}

.left-content {
    width: 50%;
}

.rigth-content {
    width: 50%;
}