@import url(text-style.css);

/* подключаем текстовые стили */

:root {
    --base-background-color: white;
    --first-backgropund-color: #887f7f;
    --temp-background-color: #a3f3f3;
    --page-max-width: 1440px;
    --page-min-width: 320px;
    --nav-color: #ffffff;
    --first-page-color: #ffffff;
}

body {
    background-color: #887f7f;
    margin: 0;
    padding: 0;
    width: 100%;
}

.page-wrap {
    max-width: var(--page-max-width);
    min-width: var(--page-min-width);
    margin: 0 auto;
}


/* Стили первого экрана */

.page-first {
    background: url(../img/first-page-bg.png) no-repeat;
    position: relative;
    display: flex;
    width: 100%;
    height: 800px;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.main-menu::after {
    content: '';
    position: absolute;
    background-image: url(../img/helm.svg);
    left: 50%;
    top: 25px;
    width: 150px;
    height: 150px;
    transform: translateX(-50%);
}

.main-menu__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.main-menu__item {
    display: flex;
    flex: 0 1 133px;
    text-decoration: none;
    text-transform: uppercase;
    width: 133px;
    height: 100px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
}

.main-menu__item:nth-child(5) {
    margin-left: 220px;
}

.main-menu__item > a {
    text-decoration: none;
}

.head-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.left-text {
    position: relative;
    display: flex;
    flex: 58 58 0;
}

.left-text::after {
    content: 'Mon - Fri: 8PM - 10PM, Sat - Sun: 8PM - 3AM';
    transform-origin: 81% 0;
    transform: translateX(-50%) translateY(40%) rotate(-90deg);
}

.center-text {
    display: flex;
    flex: 172 172 0;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    height: 100%;
    align-items: stretch;
}

.null-block {
    position: relative;
    width: 100%;
    max-height: 225px;
    flex: 0 1 225px;
    box-sizing: border-box;
}

.null-block::after {
    content: "";
    position: absolute;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    height: calc(100% - 107px);
    transform: translateX(-50%);
    top: 107px;
}

.center-text-fl {
    position: relative;
    box-sizing: border-box;
}

.center-text-fl::after {
    content: "";
    position: absolute;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    height: 100%;
    transform: translateX(-50%);
    top: -.01px;
}

div.center-text-fl > p.text-title-page--white {
    padding-top: 4px;
    box-sizing: border-box;
}


.restaurant-name {
    position: relative;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
}

.restaurant-name::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 5px;
    background-color: #E8C300;
    border-radius: 50px;
    right: 50%;
    top: 129px;
    transform: translateX(50%);
}

.button-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 30px;
    box-sizing: border-box;
}

.button-block::after {
    content: "";
    position: absolute;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    height: 100%;
    transform: translateX(-50%);
}

.button-item {
    display: flex;
    width: 200px;
    height: 60px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.button-01 {
    background: #E8C300;
    border-radius: 5px;
    box-sizing: border-box;
}

.button-02 {
    margin-left: 40px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    box-sizing: border-box;
}

.page-down {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 60px;
    margin: 84px auto;
    box-sizing: border-box;
}

.page-down::after {
    content: "";
    position: absolute;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    height: 84px;
    transform: translateX(-50%);
    top: 59px;
}

.page-down::before {
    content: "";
    position: absolute;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    height: 84px;
    transform: translateX(-50%);
    top: -84px;
}

.button-page-down {
    background-color: #ffffff;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    box-sizing: border-box;
}

.button-page-down img {
    margin-top: 15px;
}

.rigth-text {
    display: flex;
    flex: 58 58 0;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 240px;
}

.facebook {
    background: url(../img/fb.png) center center no-repeat;
}

.twitter {
    background: url(../img/tw.png) center center no-repeat;
}

.instagram {
    background: url(../img/instagram.png) center center no-repeat;
}

.icons {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 20px;
    margin-right: 79px;
    box-sizing: border-box;
}


/* стили второго экрана */

.page-white {
    display: flex;
    flex-direction: row;
    background-color: var(--base-background-color);
}

.left-content {
    width: 50%;
    box-sizing: border-box;
    padding-left: 5.55%;
    padding-right: 2.78%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-content>p {
    padding: 0;
    margin: 0;
}

.rigth-content {
    width: 50%;
    box-sizing: border-box;
    margin-top: 50px;
    margin-bottom: 50px;
}

.img-wrap-rigth {
    position: relative;
    width: 575px;
    height: 575px;
}

.img-wrap-rigth::after {
    content: '';
    width: 250px;
    height: 250px;
    position: absolute;
    border: 20px solid #E8C300;
    box-sizing: border-box;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    right: -75px;
    top: 162px;
}

.team-page {
    display: flex;
    flex-direction: column;
    background-image: url(../img/team-page-bg.png);
    width: 100%;
    height: 675px;
}